.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

#header
{
  height: auto; 
  width: 75%; 
  position: absolute; 

  z-index: 1; 
  top: 0; 
  left: 25%;
  background-color: #dff9fb; 
  padding-top: 2%;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.header-title
{
 color: #130f40;
 vertical-align: middle;
}

.text
{
 color: #535c68;
}

.sidebar
{
  height: 100%; 
  width: 25%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
 
  background-color: #30336b; 
  overflow-x: hidden; 
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  transition: 0.5s;
  
}

.sidebar-title{
  color: #dff9fb;

}

.sidebarLink
{
  padding-bottom: 20px;
}
.sidebar-header, .sidebar-content
{
 padding-left: 2%;
 padding-right : 2%; 
}

/**
Toggle que controla a exibicao do sidebar
*/
.sidebar.openSidebar
{
  
  display: block;
  width:40%;
  
}



.openBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #dff9fb;
  color: #130f40;
  padding: 10px 15px;
  border: none;
}
.close-btn
{
  font-size: 34px;
  color: #dff9fb;
}
.openbtn:hover {
  background-color: #95afc0;
}




#mapContainer
{
  width: 100%;
  height: 80%;
  left: 25%;
}

#fakeMap
{
  width: 75%;
  left: 25%;
  top: 20%;
  height: 80%;
  position: absolute;
  background-color: yellow;
}



@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 14px;}

  .sidebar
  {
    width: 40%;
    display: none;
  }

  #mapContainer
  {
    left: 0%;

  }

  #header
  {
    left: 0;
    width: 100% ;
  }
}

@media screen and (min-width: 451px) {
  
  .close-btn
  {
    display: none;
  }

}

