.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidebar-title{
  color: #dff9fb;
}
.header-title
{
 color: #130f40;
}

.text
{
 color: #535c68;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #dff9fb;
  color: #130f40;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #95afc0;
}

#header
{
  height: 15%; 
  width: 100%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 30%;
  background-color: #dff9fb; 
  overflow-x: hidden; 
  padding-top: 20px;
}

#sidebar
{
  height: 100%; 
  width: 30%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #30336b; 
  overflow-x: hidden; 
  padding-top: 20px;
  transition: 0.5s;


}

@media screen and (max-height: 450px) {
  #sidebar {padding-top: 15px;}
  #sidebar a {font-size: 14px;}
}

